html, body {
  padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#top_bg {
  background-image: url("../img/360bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.index_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  grid-auto-rows: minmax(auto);
  width: 800px;
  margin: 350px auto 0 auto;
}

.headline {
  grid-column: 1 / 3;
  grid-row: 1;

  margin: 0 auto;
  color: #FFF;
  font-size: 28px;
  text-align: center;
  top: 487px;
}

.headline h1 {
  font-size: 28px;
  text-align: center;
}

.news {
  grid-column: 1 / 2;
  grid-row: 2;
  width: 370px;
  height: 76px;
  padding: 12px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  border-top: #FFF solid 1px;
  border-bottom: #FFF solid 1px;
}

.news td {
  vertical-align: top;
}

.views {
  grid-column: 2 / 3;
  grid-row: 2;
}

.views img.thumb360 {
  height: 30px;
  width: auto;
  text-align: center;
}

.views .shop_thumbnail img {
  height: 60px;
  width: auto;
}

img.shop_thumbnail {
  margin: 0px 12px 10px 0;
  width: 97px;
  height: 54px;
  border: 1px solid #FFF;
  border-radius: 5px;
}

.views a {
  opacity: 1;
  transition: ease 1s;
}

.views a:hover {
  opacity: .5;
}

#footer {
  color: #FFF;
  position: absolute;
  margin: 0 auto;
  bottom: 24px;
  left: 40%;
}

#nav_times {
  color: #FFF !important;
}
