nav {
  top: 0;
  height: 72px;
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 172px, 172px, repeat(4, 95px)
  grid-gap:16px;
}

nav a {
  color: #111;
}

nav h5 {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 5px auto;
}

nav p {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

#nav_logo, #nav_times, #nav_cafemenu, #nav_barmenu, #nav_photo, #nav_access {
  padding-top: 22px;
}

#nav_logo {
  grid-column: 1 / 2;
  grid-row: 1;
  padding-top: 22px;
}

#nav_times {
  grid-column: 2 / 3;
  grid-row: 1;
  color: #222;
}

a.nav_links {
  display: block;
  background-color: #FFF;
  text-decoration: none;
  text-align: center;
  width: 96px;
}

.nav_links:hover {
  background-color: #111;
  color: #FFF;
  transition: 1s;
}

.active {
  background-color: #111;
  color: #FFF;
}

#nav_cafemenu {
  grid-column: 3 / 4;
  grid-row: 1;
  width: 96px;
}

#nav_barmenu {
  grid-column: 4 / 5;
  grid-row: 1;
  width: 96px;
}

#nav_photo {
  grid-column: 5 / 6;
  grid-row: 1;
  width: 96px;
}

#nav_access {
  grid-column: 6 / 7;
  grid-row: 1;
  width: 96px;
}
